.about {
  margin-top: 100px;
  margin-bottom: 75px;
  // .about__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .about__visual
  &__visual {
    position: relative;
    margin-right: 30px;

    // .about__visual-images
    &-images {
      position: relative;
      max-width: 267px;
      background: url("../../../assets/icons/about-rectangle.png") no-repeat
        center / cover;
      padding: 15px 90px 0 20px;
    }
    &-portrait {
      position: relative;
      z-index: 5;
      // box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    }
    // &-rectangle {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 4;
    // }
    &-rectangle-green {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: rotate(8deg);
    }

    &-circle {
      position: absolute;
      top: -30%;
      left: 40%;
      transform: rotate(-100deg);
    }
    &-small-circle {
      position: absolute;
      top: 53%;
      left: -5%;
      transform: rotate(176deg);
    }
  }

  // .about__text
  &__text {
    width: 100%;
    max-width: 540px;
    font-family: var(--second-family);

    h2 {
      margin-bottom: 8px;
    }
    p {
      text-align: left;
      // max-width: 430px;
    }
  }
}

@media (max-width: 998px) {
  .about {
    // .about__visual
    &__visual {
      // .about__visual-portrait
      &-portrait {
        height: 225px;
      }
      // .about__visual-rectangle
      &-rectangle {
        transform: scale(0.9);
      }
      // .about__visual-rectangle-green
      &-rectangle-green {
        transform: scale(0.9) rotate(8deg);
      }
      // .about__visual-circle
      &-circle {
        transform: rotate(-100deg) scale(0.9);
      }
      // .about__visual-small-circle
      &-small-circle {
        transform: rotate(176deg) scale(0.9);
      }
    }

    // .about__text
    &__text {
      max-width: 350px;
      // & p {
      //   font-size: 12px;
      // }
    }
  }
}

@media (max-width: 768px) {
  .about {
    // .about__content
    &__content {
      flex-direction: column;
      gap: 50px;
      text-align: center;
    }

    // .about__visual
    &__visual {
      margin: 0;
    }

    // .about__text
    &__text {
      & p {
        text-align: center;
      }
    }
  }
}
