h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  font-family: var(--second-family);

  span {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
  }
}

@media (max-width: 998px) {
  h2 {
    font-size: 20px;
    & span {
      font-size: 20px;
    }
  }
}
