@import url("./fonts.scss");
@import url("./root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,textarea {
  border: none;
  outline: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--black);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
