:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --primary-color: #3abf00;
  --secondary-color: #a7fd82;
  --black: #14181a;
  --white: #fff;
  --header-bg: rgba(20, 24, 26, 0.8);
  --circle-color: #d9d9d9;
}

/*
@media (max-width 1200px){}
@media (max-width 998px){}
@media (max-width 768px){}
@media (max-width 576px){}
@media (max-width 320px){} 
*/
