:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --primary-color: #3abf00;
  --secondary-color: #a7fd82;
  --black: #14181a;
  --white: #fff;
  /* --primary-color: #00a8cd; */
  /* --secondary-color: #87e9fe; */
}
