ul {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    max-height: 30px;
    display: inline-block;
    width: 100%;
    height: 100%;

    &:hover svg {
      filter: drop-shadow(0 0 1px var(--primary-color))
        drop-shadow(0 0 2px var(--primary-color))
        drop-shadow(0 0 3px var(--primary-color))
        drop-shadow(0 0 4px var(--primary-color));
      transition: all 0.5s ease-out;
    }
    svg {
      transition: all 0.5s ease-out;
    }
  }
}
