header {
  position: fixed;
  top: 0dvh;
  backdrop-filter: blur(48px);
  width: 100vw;
  height: 85px;
  z-index: 1000;
  background: rgb(20, 24, 26, 0.8);
  box-sizing: border-box;
  transition: all 0.3s linear;

  &.scrolled {
    box-shadow: 0 4px 4px 0 #00000026;
    transition: all 0.3s linear;
  }
}
