.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 !important;

  a {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }

    span {
      font-weight: 600;
      font-size: 24px;
      color: #fff;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      width: 100px;
      height: 100px;
    }
  }

  &__list-link {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }
}
