.info {
  margin: 75px 0;
  // .info__content
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // .info__text
  &__text {
    width: 100%;
    max-width: 485px;
    margin-right: 15px;
    h1 {
      font-weight: 500;
      font-size: 40px;
      color: #fff;
    }
    h2 {
      font-weight: 600;
      font-size: 24px;
      color: var(--primary-color);
      margin-bottom: 12px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #ffffffcc;
      margin-bottom: 20px;
      .html {
        color: #c22b03;
      }
      .css {
        color: #006eba;
      }
      .scss {
        color: #cc6699;
      }
      .js {
        color: #ddbc03;
      }
      .react {
        color: #00d8ff;
      }
    }
  }

  // .info__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  // .info__img
  &__portrait {
    position: relative;
    margin-right: 30px;

    &-circle {
      position: absolute;
      display: block;
      transform: rotate(-70deg);
      top: -9%;
      left: -50%;
    }
    &-small-circle {
      position: absolute;
      display: block;
      transform: rotate(22deg);
      top: 50%;
      left: 20%;
    }
  }

  // .info__portrait
  &__img {
    padding-top: 40px;

    .info__portrait {
      position: relative;
      padding-top: 20px;
      padding-left: 30px;
      box-shadow: 0 4px 4px 0 #0000004d;
      z-index: 5;
    }

    .info__rectangle {
      position: absolute;
      top: 9%;
      left: 0;
      z-index: 4;
    }
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
