.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s linear;

  & .burger__menu {
    display: none;
    background: transparent;
  }

  .logo {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
    &:hover {
      text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color),
        0 0 15px var(--primary-color), 0 0 20px var(--primary-color);
      transition: all 0.5s ease-out;
    }

    span {
      font-weight: 600;
      font-size: 24px;
      color: var(--white);
    }
  }
}

@keyframes appear {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--black) 100%
    );
    width: 100%;
  }
}
@keyframes appear-half-width {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--black) 100%
    );
    width: 65%;
  }
}

@keyframes disappear {
  0% {
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--black) 100%
    );
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes disappear-half-width {
  0% {
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--black) 100%
    );
    width: 65%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav {
    & .burger__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      margin-left: auto;
      gap: 5px;
      width: 100%;
      max-width: 30px;
      height: 30px;
      cursor: pointer;

      &-line {
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background: linear-gradient(
          220deg,
          var(--primary-color) 0%,
          rgb(0, 0, 0, 0) 100%
        );
      }

      &.opening {
        .burger__menu-line:nth-of-type(1) {
          animation: appear 0.85s 0.2s both;
        }
        .burger__menu-line:nth-of-type(2) {
          animation: appear 0.85s 0.1s both;
        }
        .burger__menu-line:nth-of-type(3) {
          animation: appear-half-width 0.85s forwards;
        }
      }

      &.closing {
        .burger__menu-line:nth-of-type(1) {
          animation: disappear 0.85s 0.2s both;
        }
        .burger__menu-line:nth-of-type(2) {
          animation: disappear 0.85s 0.1s both;
        }
        .burger__menu-line:nth-of-type(3) {
          animation: disappear-half-width 0.85s both;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    .nav {
      .logo span {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 320px) {
}
