.intro {
  margin-bottom: 75px;
  // .intro__content
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // .intro__text
  &__text {
    width: 100%;
    max-width: 510px;
    margin-right: 15px;
    h1 {
      font-weight: 500;
      font-size: 40px;
      color: #fff;
    }
    h2 {
      font-weight: 600;
      font-size: 24px;
      color: var(--primary-color);
      margin-bottom: 12px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #ffffffcc;
      margin-bottom: 20px;
      .html {
        color: #c22b03;
      }
      .css {
        color: #006eba;
      }
      .scss {
        color: #cc6699;
      }
      .js {
        color: #ddbc03;
      }
      .react {
        color: #00d8ff;
      }
    }
  }

  // .intro__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  // .intro__visual
  &__visual {
    position: relative;
    padding-top: 40px;

    &-circle {
      position: absolute;
      display: block;
      transform: rotate(-70deg);
      top: -9%;
      left: -50%;
    }
    &-small-circle {
      position: absolute;
      display: block;
      transform: rotate(22deg);
      top: 50%;
      left: 25%;
    }
  }

  // .intro__portrait
  &__portrait {
    position: relative;
    background: url("../../../assets/icons/info-rectangle.png") no-repeat center /
      cover;
    &-img {
      position: relative;
      width: 100%;
      padding-top: 20px;
      padding-left: 30px;
      box-shadow: 0 4px 4px 0 #0000004d;
      z-index: 5;
    }
    // &-rectangle {
    //   position: absolute;
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: 4;
    // }
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@media (max-width: 998px) {
  .intro {
    // .intro__text
    &__text {
      & h1 {
        font-size: 32px;
      }
      & h2 {
        font-size: 20px;
      }
      & p {
        // max-width: 400px;
        font-size: 14px;
      }
    }

    // .intro__portrait
    &__portrait-img {
      width: 250px;
    }

    // // .intro__rectangle
    // &__rectangle {
    //   width: 250px;
    // }

    // .intro__portrait-circle
    &__portrait-circle {
      transform: scale(0.9) rotate(-70deg);
    }

    // .intro__portrait-small-circle
    &__portrait-small-circle {
      transform: scale(0.9) rotate(22deg);
    }
  }
}
@media (max-width: 768px) {
  .intro {
    &__content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
    }
    // .intro__text
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
    }

    // .intro__portrait
    &__portrait {
      margin: 0;
    }
    // .intro__portrait
    &__portrait-img {
      width: 100%;
    }

    // // .intro__img
    // &__img {
    // }

    // // .intro__rectangle
    // &__rectangle {
    // }

    // .intro__portrait-circle
    &__portrait-circle {
      display: none;
    }

    // .intro__portrait-small-circle
    &__portrait-small-circle {
      display: none;
    }
  }
}
