.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 !important;

  .logo {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
    &:hover {
      text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color),
        0 0 15px var(--primary-color), 0 0 20px var(--primary-color);
      transition: all 0.5s ease-out;
    }

    &:hover svg {
      filter: drop-shadow(0 0 1px var(--primary-color))
        drop-shadow(0 0 2px var(--primary-color))
        drop-shadow(0 0 3px var(--primary-color))
        drop-shadow(0 0 4px var(--primary-color));
      transition: all 0.5s ease-out;
    }
    svg {
      margin-right: 10px;
      transition: all 0.5s ease-out;
    }

    span {
      font-weight: 600;
      font-size: 24px;
      color: #fff;
    }
  }
}
